{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Se connecter
                </div>
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        {% endif %}

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fal fa-user-tag"></i></span>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fal fa-lock-alt"></i></span>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-primary text-light" type="submit">
                            Se connecter
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
